html {
  height: 100%;
  scroll-padding-top: 72px;
}

:root {
  --color-fill: 40, 40, 40;
  --color-fill-secondary: 52, 58, 64;
  --color-card: 40, 42, 54;
  --color-text: 249, 244, 227;
  --color-text-dodge: 150, 150, 150;
  --color-text-active: 250, 189, 47;
  --color-border: 214, 93, 14;
  --color-border-active: 7, 102, 120;
  --color-modal: 251, 251, 251;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: helvetica, sans-serif;
  background: rgb(var(--color-fill));
  color: rgb(var(--color-text));
}

/* Listas */
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Iconos de modo */
#sun-icon,
html[data-theme="dark"] #moon-icon {
  display: none;
}
#moon-icon,
html[data-theme="dark"] #sun-icon {
  display: block;
}

/* Enlaces */
a {
  color: #00abff;
  text-decoration: none;
}

/* Títulos */
h1 {
  font-weight: normal;
  border-bottom: 1px solid #bbb;
  padding: 0 0 10px 0;
}
h2 {
  font-weight: normal;
  margin: 30px 0 0;
}

/* Layout principal */
#content {
  float: left;
  width: 60%;
  padding: 0 0 0 30px;
}

#sidebar {
  float: right;
  width: 30%;
  padding: 10px;
  height: 100%;
}

/* Fechas */
p.date {
  color: #ccc;
  font-family: georgia, serif;
  font-size: 12px;
  font-style: italic;
}

/* Imagen flotante */
.left {
  float: left;
  margin-right: 10px;
}

/* Paginación */
.pagination {
  margin: 40px 0;
  font-weight: bold;
}

/* Formularios */
label {
  float: left;
  clear: both;
  color: #fff;
  margin-bottom: 4px;
}

input,
textarea {
  clear: both;
  float: left;
  margin: 0 0 10px;
  background: #ededed;
  border: 0;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 5px;
}

input[type="submit"] {
  font-weight: bold;
  background: #00abff;
  color: #fff;
  padding: 10px 20px;
  font-size: 14px;
  text-transform: uppercase;
}

/* Errores */
.errorlist {
  color: #cc0033;
  float: left;
  clear: both;
  padding-left: 10px;
}

/* Comentarios */
.comment {
  padding: 10px;
  border-radius: 1em;
}

.comment:nth-child(even) {
  background: #efefef;
}

.comment .info {
  font-weight: bold;
  font-size: 12px;
  color: #666;
}

form {
  display: flex;
  flex-direction: column;
}
